@page "/contacts/edit/{id:int}"
@page "/contacts/new"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject ToastService ToastService

@if (Id is not null)
{
    <PageTitle>Edit Contact</PageTitle>
    <h3>Edit @Contact.NickName</h3>
}
else
{
    <PageTitle>Create Contact</PageTitle>
    <h3>Create a new Contact</h3>
}

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Contact" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <SfTextBox CssClass="e-outline" Placeholder="First Name"
                       FloatLabelType="FloatLabelType.Auto" @bind-value="Contact.FirstName"/>
                   
            <ValidationMessage For="() => Contact.FirstName"/>

            <SfTextBox CssClass="e-outline" Placeholder="Last Name"
                       FloatLabelType="FloatLabelType.Auto" @bind-value="Contact.LastName"/>

            <SfTextBox CssClass="e-outline" Placeholder="Nick Name"
                       FloatLabelType="FloatLabelType.Auto" @bind-value="Contact.NickName"/>

            <SfTextBox CssClass="e-outline" Placeholder="Place"
                       FloatLabelType="FloatLabelType.Auto" @bind-value="Contact.Place"/>

            <SfDatePicker TValue="DateTime?" Placeholder="Date Of Birth" Format="MM/dd/yyyy"
                          FloatLabelType="FloatLabelType.Auto" @bind-value="Contact.DateOfBirth"/>
            <hr/>
            <SfButton CssClass="e-primary" IconCss="e-icons e-save" Content="Save" type="submit"/>
            <SfButton CssClass="e-secoundary" IconCss="e-icons e-save" Content="Back" 
                      OnClick="@(() => NavigationManager.NavigateTo("/contacts"))" />

        </EditForm>
        
        <div>
            @if (Id is not null)
            {
                <hr/>

                <h3>Notes</h3>

                <SfTextBox CssClass="e-outline" ShowClearButton="true" Placeholder="New Note" Multiline="true"
                           FloatLabelType="@FloatLabelType.Auto" @bind-value="newNote.Text" />
                <SfButton CssClass="e-success mt-1" Content="Add New Note" OnClick="CreateNote" />

                <hr/>


                if (notes.Any())
                {
                    @foreach (var note in notes)
                    {
                        <SfCard CssClass="mb-1">
                            <CardHeader Title="@note.DateCreated.ToString()"/>
                            <CardContent Content="@note.Text"/>
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton IconCss="e-icons e-trash" CssClass="btn-danger" OnClick="() => DeleteNote(note.Id)" />
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    }
                }
                else
                {
                    <p>not any note yet.</p>
                }
                
            }
        </div>
    </div>
    

</div>

@code {

    

}
